<ion-view hide-nav-bar="true">
    <ion-content class="about_our_wrap" scroll="false">
        <!--<iframe ng-src="{{about_us_url}}"></iframe>-->
        <div class="goBack">
            <span class="icon_bar_back backs" ng-click="goTome()"></span>
            <h1>关于我们</h1>
        </div>
        <ion-scroll style="width: 100%;height:95%;">
            <div class="logo">
                <img src="./images/gxb_logo.png" alt="">
            </div>
            <div class="content">
                <p>高校邦是高校在线教育一站式解决方案提供商,为高校提供精品在线课程、课程制作服务、专属MOOC云平台服务以及融合了创新创业教育和以职业为导向的微专业等高校急需教育服务的综合教育解决方案。</p>
                <p>高校邦致力于成为中国高校最值得信赖的在线教育创新合作伙伴，助力高校互联网时代的育人体系重构与教育模式转型。</p>
                <p>为助推高校课程改革，充分挖掘和释放高校师资的效用和活力，高校邦为高校提供包括通识课、专业课等多门类的精品在线课程，内容覆盖通识素养、创新创业、前沿科技、互联网+等领域，帮助学生全面完善能力素养，扎实专业功底、紧跟热门领域、增强竞争能力。</p>
                <p>高校邦一流的在线课程制作团队、自主研发的课程孵化系统、28道制作工艺、九大课程拍摄手法打造出高品质学习视频，全面提升学习体验。根据高校的不同诉求，高校邦独有的专业制作、快速制作、移动制作三种课程制作手法充分保证了多需求、大容量的课程制作能力和品质。高校邦遵循教学规律和需求，为高校提供专属定制的MOOC云平台服务，使高校轻松坐拥完全体现自主品牌的在线学习平台，提升高校影响力。基于大数据技术的学习分析系统为学校、老师以及学生定制化分析结果及研究报告并优化自建课程的品质及教学服务质量,从而真正地践行“以学习者为中心”的理念。高校邦为高校定制的专属MOOC云平台可实现面向高校内部和社会的更广泛用户的自主运营，优化教学资源配置，增进校内外学术交流。</p>
                <p>截至目前，高校邦已与北京航空航天大学、复旦大学、华南理工大学、西安交通大学、大连理工大学、北京开放大学等1000多所全国知名高校及地方院校开展了专、本、硕等不同层次的深度合作，覆盖高校大学生300万；并与IBM、亚马逊AWS、阿里云、VMware、百度、华为等国内外知名企业建立深度的战略合作关系。</p>
                <p>高校邦总部设在北京中关村科技创新新地标—致真大厦，在北京、贵州、广州、武汉、上海建有五大课程制作基地。</p>
            </div>
        </ion-scroll>

    </ion-content>
</ion-view>