<ion-view hide-nav-bar="true">
    <ion-content scroll="false">
        <div class="goBack" style="background: #1FB6FF;border-bottom:0;">
            <span class="icon_bar_back backs" ng-click="goTome()"></span>
            <h1 style="color:#fff;" class="course-title">帮助中心</h1>
        </div>
        <ion-scroll style="width:100%;height: 90%;">
            <div class="help_add_wrap">
                <div class="title">嗨～同学，因APP客服系统正在升级中，如果同学们在学习中遇到的学习问题，需要加一下客服老师的<span>公众号QQ：4006400770</span> ，工作时间会有专业、敬业的客服老师耐心帮您解答学习问题。</div>
                <div class="title time">工作时间：<span>08:00 ~ 23:00</span> </div>
                <div class="con">
                    <span>具体操作步骤如下：</span>
                    <p>一、打开手机QQ，点击公众号选项</p>
                    <div class="bg01"></div>
                    <p>二、添加公众号</p>
                    <div class="bg02"></div>
                    <p>三、搜索 4006400770，搜索出之后点击关注</p>
                    <div class="bg03"></div>
                    <p>四、关注之后进入到公众号</p>
                    <div class="bg04"></div>
                    <p>五、即可开始进行咨询</p>
                    <div class="bg05"></div>
                    <p>六、日后有学习问题需要咨询老师，点击公众号就可学习到哪里，咨询到哪里！</p>
                    <div class="bg06"></div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>