<ion-view hide-nav-bar="true">
    <ion-content class="me_personal_wrap" scroll="false">
        <div class="goBack">
            <span class="icon_bar_back backs" ng-click="goTome()"></span>
            <h1>个人中心</h1>
        </div>
        <ion-scroll style="width: 100%;height: 99%; margin-top: 0px;">
            <div class="headPortrait">
                <div class="heads" ng-class="prompt == true?'no_bor':''">
                    <b class="fl_left">头像</b>
                    <div class="fl_right">
                        <div class="del_pic" ng-click="uploadAvatar()">
                            <img src="{{personalInfo.avatar?personalInfo.avatar:'./images/userBg_100.png'}}" err-src="./images/userBg_100.png" alt=""/>
                            <i></i>
                            <!--<uploadavatar></uploadavatar>-->
                        </div>
                    </div>
                </div>
            </div>
            <p class="prompt" ng-show="prompt">在校学生请完成身份认证，否则无法获得课程学分！</p>
            <ul class="userName" style="padding:0;">
                <li class="user" ng-click="modifyName()"><b class="fl_left">用户名</b><p class="fl_right"><span class="fl_right ion-chevron-right"></span>{{personalInfo.name}}</p></li>
                <li class="user" ng-click="modifySex()">
                    <b class="fl_left">性别</b>
                    <p class="fl_right">
                        <span class="fl_right ion-chevron-right"></span>
                        <strong ng-if="personalInfo.gender=='male'">男</strong>
                        <strong ng-if="personalInfo.gender=='female'">女</strong>
                        <strong ng-if="personalInfo.gender==''">请选择</strong>
                    </p></li>
                <li ng-click="addValidate()">
                    <b class="fl_left">认证信息</b>
                    <div class="fl_right" style="width: 70%;">
                        <p class="fl_left validate per_validate" ng-bind-html="isSchool()"></p>
                        <span class="fl_right ion-chevron-right"></span>
                    </div>
                </li>
            </ul>
            <ul class="userName num">
                <li ng-click="modifyPhone()">
                    <b class="fl_left">手机号</b>
                    <div class="fl_right">
                        <p class="fl_left">{{personalInfo.mobile ||"未绑定,立即绑定"}}</p>
                        <span class="fl_right ion-chevron-right"></span>
                    </div>
                </li>
                <li><b class="fl_left">邮箱</b><p class="fl_right">{{personalInfo.email ||"未绑定"}}</p></li>
                <li ng-click="modifyPassword()"><b class="fl_left">修改密码</b><span class="fl_right ion-chevron-right"></span></li>
            </ul>
            <div id="loading" class="loading-container">
                <div class="loading">
                    <ion-spinner class='spinner-energized' style="display: block;"></ion-spinner>
                    <div style='text-align: center'>正在上传...</div>
                </div>
            </div>
            <div id="error" class="loading-container">
                <div class="loading">
                    <div style='text-align: center'>上传失败,请重试</div>
                </div>
            </div>
            <div id="errorImg" class="loading-container">
                <div class="loading">
                    <div style='text-align: center'>请选择图片</div>
                </div>
            </div>
        </ion-scroll>

    </ion-content>
</ion-view>
