<ion-view hide-nav-bar="true">
    <ion-content class="user_binding_wrap" scroll="false">
        <div class="goBack">
            <span class="icon_bar_back backs" ng-click="goTome()"></span>
            <h1>更换手机</h1>
        </div>
        <ion-scroll style="width: 100%;height: 95%; margin-top: 0px;">
            <div class="bindForget_wrap">
                <form name="modifyForm" ng-submit="getobtain()" novalidate>
                    <div class="formWrap tabulation">
                        <label class="item-input texts">
                            <span class="input-label input-sp">手机</span>
                            <input type="text" name="mobile" placeholder="请输入11位手机号" ng-model="$modifyModel.mobile" required>
                            <!--<span class="error" ng-show="modifyForm.mobile.$error.required" >不可为空</span>-->
                        </label>
                    </div>
                    <button class="next_step" type="submit">获取验证码</button>
                </form>
            </div>
        </ion-scroll>


    </ion-content>

</ion-view>