<ion-view hide-nav-bar="true">
    <ion-content scroll="false" class="course_notice_wrap">
        <div class="goBack">
            <span class="icon_bar_back backs" ng-click="goTome()"></span>
            <h1>院校公告</h1>
        </div>

        <ion-scroll style="width: 100%;height: 90%;margin-top: 0;">
            <div class="header">
                <h1>{{announce.title}}</h1>
                <p>{{announce.updatedAt}}</p>
            </div>
            <div class="notice_con" ng-bind-html="announce.desc"></div>
        </ion-scroll>

    </ion-content>
</ion-view>