<ion-view hide-nav-bar="true">
    <ion-content scroll="false" class="trade_test_wrap">
        <div class="goBack" style="background: #1FB6FF;border-bottom:0;">
            <span class="icon_bar_back backs" ng-click="goBack()"></span>
            <h1 style="color:#fff;">职业测试</h1>
        </div>
        <div class="pic"></div>
        <p>想知道自己和哪类工作匹配度最高吗？想知道自己未来最可能从事哪些行业吗？想知道自己拥有哪个领域的职业潜能吗？点击测试，向自己将来的职业生涯说声Hi~</p>
        <div class="btn">
            <button ng-click="goTest()">立即开始</button>
        </div>
    </ion-content>
</ion-view>