<ion-view hide-nav-bar="true">
    <ion-content scroll="false">
        <div class="goBack">
            <span class="icon_bar_back backs" ng-click="goTome()"></span>
            <h1>找回密码</h1>
        </div>
        <ion-scroll style="width: 100%;height: 90%;">
            <div class="bindForget_wrap">
                <form name="newPasswordForm" method="post" ng-submit="upPassword()" novalidate >
                    <div class="formWrap tabulation">
                        <label class="item-input texts">
                            <span class="input-label input-sq" style="font-size: 14px;color:#2a2f33;margin-top:0;">新密码</span>
                            <input maxlength="16" type="password" name="password" placeholder="请输入6-16位数字、字母和符号组合" ng-model="$forgetModel.encrypted_password"  >
                            <!--<span class="error" ng-show="newPasswordForm.password.$invalid" >请输入6-16字母数字密码</span>-->
                        </label>
                    </div>
                    <button class="next_step" type="submit">提交</button>
                </form>
            </div>
        </ion-scroll>

    </ion-content>

</ion-view>
