<ion-view hide-nav-bar="true">
    <ion-content class="user_binding_wrap" scroll="false">
        <div class="goBack">
            <span class="icon_bar_back backs" ng-click="goTome()"></span>
            <h1>学号找回密码(3/3)</h1>
        </div>
        <ion-scroll style="width: 100%;height: 95%; margin-top: 0px;">
            <div class="bindForget_wrap">
                <form method="post" name="form4">
                    <div class="formWrap tabulation">
                        <label class="item-input texts">
                            <span class="input-label input-sq" style="color:#2a2f33;font-size: 14px;margin-top:0;">新密码</span>
                            <input maxlength="16" type="password" placeholder="请输入6-16位数字、字母和符号组合" ng-model="$bindingNoModel.password" required >
                        </label>
                        <label class="item-input texts">
                            <span class="input-label input-width">确认密码</span>
                            <input maxlength="16" type="password" placeholder="请再次输入" ng-model="$bindingNoModel.confirmPassword" required>
                        </label>
                    </div>
                    <button ng-if="$bindingNoModel.password && $bindingNoModel.confirmPassword" class="escrow_button" type="submit" ng-click="getEnd()">完成</button>
                    <button ng-if="!$bindingNoModel.password || !$bindingNoModel.confirmPassword" class="escrow_btn" type="submit">完成</button>
                </form>
            </div>
        </ion-scroll>


    </ion-content>

</ion-view>